@import "../variables/colors";
@import "../variables/interfaces";

#music_player {
  .content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-right: 60px;
    position: fixed;
    bottom: -50%;
    left: 0;
    z-index: 6;
    width: 100%;
    height: 90px;
    background-color: $color-bg;
    transition: all 0.3s;

    .img {
      width: 90px;
      height: 100%;
      position: relative;

      img {
        width: 100%;
        height: 100%;
        background-color: #fff;
      }
      .filter {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba($color: #000000, $alpha: 0.5);
        display: grid;
        align-items: center;
        justify-content: center;

        svg {
          font-size: 2rem;
          color: $color-text-white;
        }
      }
    }
    .time {
      p {
        letter-spacing: 0.16rem;
      }
    }
    .slider {
      width: 100%;
      max-width: 500px;

      .slider_range {
        -webkit-appearance: none;
        width: 100%;
        height: 15px;
        transition: opacity 0.3s;
        opacity: 0.6;
        cursor: pointer;
        outline: none;
        background-color: $color-bg-tracks;

        &::-webkit-slider-thumb {
          -webkit-appearance: none;
          appearance: none;
          width: 15px;
          height: 15px;
          background-color: $color-text-black;
        }
        &::-webkit-slider-runnable-track {
          color: $color-header;
        }
        &::-moz-range-thumb {
          -webkit-appearance: none;
          appearance: none;
          width: 15px;
          height: 15px;
          background-color: $color-text-black;
        }
        &::-moz-range-progress {
          background-color: $color-slider-progress;
          height: 100%;
        }
      }
      .slider_range:hover {
        opacity: 1;
      }
    }
    .volume {
      position: relative;

      button {
        @include button_interface;
      }

      .volume_slider {
        display: none;
      }

      &:hover {
        .volume_slider {
          display: grid;
          align-items: center;
          position: absolute;
          rotate: -90deg;
          transform-origin: left top;
          left: 0;
          top: 0;
          height: 80%;
          padding: 0 10px;

          .volume_range {
            -webkit-appearance: none;
            cursor: pointer;
            height: 20px;

            width: 120px;
            background-color: $color-bg;
            padding: 0 10px;

            &::-moz-range-progress {
              background-color: $color-slider-progress;
            }
          }
        }
      }
    }
    .buttons {
      display: flex;
      column-gap: 30px;
      .btn {
        @include button_interface;
      }
      .fake_btn {
        background-color: $color-bg;
        border: none;
        width: 50px;
      }
    }
  }
  .music_player_button {
    @include button_interface;
    position: fixed;
    z-index: 7;
    bottom: 25px;
    right: 0;
    margin-right: 6%;
  }
}
