@import "../../variables/colors";
@import "../../variables/interfaces";

.single_track {
  .content {
    padding-top: 180px;

    .track_comment_form {
      .input {
        padding: 0 30px;
      }
    }

    .track_list_detail {
      .item {
        .track_data {
          padding: 0 60px;
        }
        .comments {
          width: 100%;
          text-align: center;
          display: grid;

          .track_comment_title {
            margin-bottom: 30px;
          }
          .track_comment_list {
            margin-bottom: 30px;
            width: 100%;
            max-width: 600px;
            margin-left: auto;
            margin-right: auto;

            .comment_content {
              padding: 0 30px;
              text-align: center;
              display: grid;
              width: 100%;
              max-width: 360px;
              margin: auto;

              .username {
                padding: 15px;
                background: #420000;
                width: 100%;
              }
              .message {
                padding: 15px 30px;
                width: 100%;
              }
            }
          }
          .track_comment_form {
            .input {
              margin-bottom: 30px;

              textarea {
                max-width: 600px;
                resize: none;
                padding: 20px 10%;
              }
            }
            .buttons {
              button {
                @include button_interface;
              }
            }
          }
        }
      }
    }

    @media screen {
      @media (max-width: 800px) {
        .track_list_detail {
          width: 100%;
          max-width: 900px;
          margin: 0 auto;
          width: 100%;
          .item {
            display: grid;
            gap: 80px;
            width: 100%;

            .add_cart {
              position: absolute;
              width: 100%;
              height: 100vh;
              background-color: rgba($color: #000000, $alpha: 0.6);
            }
            .track_data {
              display: grid;
              justify-content: center;
              gap: 30px;

              .track_cover {
                display: grid;
                justify-items: center;

                .img {
                  position: relative;
                  width: 200px;
                  height: 200px;
                  margin-bottom: 30px;
                  cursor: pointer;

                  img {
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                    border: none;
                  }

                  .filter {
                    position: absolute;
                    top: 0;
                    left: 0;
                    width: 100%;
                    height: 100%;
                    background-color: rgba($color: #000, $alpha: 0.3);
                    display: grid;
                    align-items: center;
                    justify-content: center;

                    button {
                      @include button_interface;
                    }
                  }
                }
                .buttons {
                  display: flex;
                  column-gap: 20px;
                  li {
                    button {
                      @include button_interface;
                    }
                  }
                }
              }
              .track_info {
                text-align: center;
                display: grid;
                gap: 10px;

                button {
                  @include button_interface;
                }
              }
            }
          }
        }
      }
      @media (min-width: 800px) {
        .track_list_detail {
          width: 100%;
          max-width: 900px;
          margin: 0 auto;
          width: 100%;
          .item {
            display: grid;
            gap: 80px;
            width: 100%;

            .add_cart {
              position: absolute;
              width: 100%;
              height: 100vh;
              background-color: rgba($color: #000000, $alpha: 0.6);
            }
            .track_data {
              display: flex;
              justify-content: space-between;

              .track_cover {
                .img {
                  position: relative;
                  width: 200px;
                  height: 200px;
                  margin-bottom: 30px;
                  cursor: pointer;

                  img {
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                    border: none;
                  }

                  .filter {
                    position: absolute;
                    top: 0;
                    left: 0;
                    width: 100%;
                    height: 100%;
                    background-color: rgba($color: #000, $alpha: 0.3);
                    display: grid;
                    align-items: center;
                    justify-content: center;

                    button {
                      @include button_interface;
                    }
                  }
                }
                .buttons {
                  display: flex;
                  column-gap: 20px;
                  li {
                    button {
                      @include button_interface;
                    }
                  }
                }
              }
              .track_info {
                text-align: right;
                display: grid;
                gap: 10px;

                button {
                  @include button_interface;
                }
              }
            }
            .visualizer {
              width: 100%;
              height: 120px;
              background-color: $color-bg-tracks;

              .track_visualizer {
              }
            }
            .comments {
              width: 100%;
              text-align: center;
              display: grid;

              .track_comment_title {
                margin-bottom: 30px;
              }
              .track_comment_list {
                margin-bottom: 30px;
                width: 100%;
                max-width: 600px;
              }
              .track_comment_form {
                .input {
                  margin-bottom: 30px;

                  textarea {
                    max-width: 600px;
                    resize: none;
                  }
                }
                .buttons {
                  button {
                    @include button_interface;
                  }
                }
              }
            }
          }
        }
      }
    }
  }
  .modale_cart {
    position: absolute;
    width: 100%;
    height: 100vh;
    z-index: 11;
    justify-content: center;
    display: none;
    align-items: center;
    background-color: rgba($color: $color-text-black, $alpha: 0.7);

    .content {
      margin: 0 auto;
      text-align: center;
      max-width: 700px;
      width: 100%;
      padding: 20px;

      .content_header {
        display: flex;
        align-items: center;
        column-gap: 30px;
        justify-content: center;
        background-color: rgb(134, 117, 117);
        padding: 20px 0px;
        margin-bottom: 0;
        padding: 20px;

        button {
          @include button_interface;
        }
      }
      .content_body {
        display: grid;
        padding: 30px 0;
        background-color: rgb(48, 48, 48);
        gap: 20px;

        button {
          @include button_interface;
        }
      }
    }
  }
}
