@import "../../variables/colors";
@import "../../variables/interfaces";

.checkout_success {
  .content {
    padding-top: 180px;

    .content_body {
      display: grid;
      gap: 15px;
      p {
        text-align: center;
      }
      a {
        color: $color-link;
      }
    }
  }
}
