@import "../../variables/colors";
@import "../../variables/interfaces";

.licences {
  .content {
    padding-top: 180px;

    .licences_list {
      width: 100%;
      max-width: 600px;
      margin: 0 auto;
      margin-top: 80px;
      display: grid;
      gap: 60px;

      .accordion_item {
        .accordion_item_header {
          h3 {
            margin-right: 30px;
            @media screen {
              @media (max-width: 500px) {
                max-width: 220px;
              }
            }
          }
        }
      }
    }
  }
}
