$color-text-white: #ffffff;
$color-input: #e0e0e0;
$color-text-black: #1a1a1a;
$color-link: #c79b35;
$color-bg-tracks: #1E1E1E;
$color-bg-newsletter: #5C3827;
$color-bg: #161616;
$color-header: #420000;
$color-slider-progress: #9b2323;
$color-slider: #0a0a0a;
