$color-text-white: #ffffff;
$color-input: #e0e0e0;
$color-text-black: #1a1a1a;
$color-link: #c79b35;
$color-bg-tracks: #1e1e1e;
$color-bg-newsletter: #5c3827;
$color-bg: #161616;
$color-header: #420000;
$color-slider-progress: #9b2323;
$color-slider: #0a0a0a;
$color-modal: #0f0f0f;
